<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="NLog.Extensions.Logging"/>
    </extensions>

    <targets>
        <target name="logfile" xsi:type="File" fileName="logs/catalogservice-${shortdate}.log" >
            <layout xsi:type="JsonLayout" includeEventProperties="true">
                <attribute name="timestamp" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="logger" layout="${logger}"/>
                <attribute name="message" layout="${message}"/>
                <attribute name="exception" layout="${exception:format=tostring}" />
            </layout>
        </target>
        <target name="logconsole" xsi:type="Console">
            <layout>
                ${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}
            </layout>
        </target>
        <rules>
            <logger name="*" minlevel="Debug" writeTo="logfile" />
            <logger name="*" minlevel="Info" writeTo="logconsole" />
        </rules>
    </targets>
</nlog>
